<!-- Home Section Start -->
<div class="home">
  <div class="content">
    <h5>Welcome to the Portfolio Generator</h5>
    <h1>Create <span class="changecontent"></span></h1>
    <p>Easily build your professional portfolio. Add your projects, skills, experiences, education, and contact information.</p>
    <a href="#Gallery">Gallery</a>
  </div>
</div>
<!-- Section Gallary Start -->
<section class="gallary" id="Gallery">
  <div class="container">
    <div class="main-txt">
      <h1><span>G</span>allery</h1>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g1.png"><img src="assets/images/g1.png" alt="" height="230px"></a>
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g2.png"><img src="assets/images/g2.png" alt="" height="230px"></a>
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g3.png"><img src="assets/images/g3.png" alt="" height="230px"></a>
        </div>
      </div>

    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g4.png"><img src="assets/images/g4.png" alt="" height="230px"></a>
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g5.png"><img src="assets/images/g5.png" alt="" height="230px"></a>
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g6.png"><img src="assets/images/g6.png" alt="" height="230px"></a>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g7.png"><img src="assets/images/g7.png" alt="" height="230px"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Start -->
<section class="about" id="about">
  <div class="container">
    <div class="main-txt">
      <h1>About <span>Us</span></h1>
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-6 py-3 py-md-0" style="margin-top: 60px;">
        <div class="card">
          <img src="assets/images/Capture.png" alt="" class="logo-image">
        </div>
      </div>
      <div class="col-md-6 py-3 py-md-0">
        <h2>Portfolio Generator</h2>
        <p>Our portfolio generation application is designed to help you create a professional and attractive portfolio in just a few simple steps. Whether you are a developer, designer, or a professional in any other field, our tool allows you to showcase your skills, experiences, and achievements in an effective and aesthetic manner.</p>
        <p>With our service, you can customize each section of your portfolio, add your works, skills, professional experiences, and much more. We offer you complete flexibility to tailor your portfolio to your style and specific needs.</p>
      </div>
    </div>
  </div>
</section>
