<div class="p-3">
  <form [formGroup]="portfolioForm">
    <!-- Partie Home -->
    <section class="book" id="book">
      <div class="container">

        <div class="main-text">
          <h1><span>H</span>ome</h1>
        </div>

        <div class="row">

          <div class="col-md-6 py-3 py-md-0">
            <div class="card">
              <img src="assets/images/g1.png" alt="">
              <img src="assets/images/home2.png" alt="">
            </div>
          </div>
          <div class="col-md-6 py-3 py-md-0">

            <div>
              <label for="brand">Brand:</label>
              <input class="form-control" id="brand" formControlName="brand" />
            </div>
            <div>
              <label for="firstName">First Name:</label>
              <input class="form-control" id="firstName" formControlName="firstName" />
            </div>
            <div>
              <label for="lastName">Last Name:</label>
              <input class="form-control" id="lastName" formControlName="lastName" />
            </div>
            <div>
              <label for="country">Country:</label>
              <input class="form-control" id="country" formControlName="country" />
            </div>
            <div>
              <label for="domain">Domain:</label>
              <input class="form-control" id="domain" formControlName="domain" />
            </div>
            <div>
              <label for="photoWithoutBackground">Photo Without Background:</label>
              <input class="form-control" id="photoWithoutBackground" formControlName="photoWithoutBackground" type="file" (change)="onFileChange($event, 'photoWithoutBackground')" />
            </div>
            <div>
              <label for="backgroundColor">Background Color:</label>
              <input class="form-control" id="backgroundColor" formControlName="backgroundColor" type="color" />
            </div>
            <div>
              <label for="textColor">Text Color:</label>
              <input class="form-control" id="textColor" formControlName="textColor" type="color" />
            </div>
            <div>
              <label for="decorationColor">Decoration Color:</label>
              <input class="form-control" id="decorationColor" formControlName="decorationColor" type="color" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr >
    <section class="book" id="book">
      <div class="container">

        <div class="main-text">
          <h1><span>A</span>bout me</h1>
        </div>

        <div class="row">

          <div class="col-md-6 py-3 py-md-0">
            <div class="card">
              <img src="assets/images/g4.png" alt="">
            </div>
          </div>
          <div class="col-md-6 py-3 py-md-0">
            <div>
              <label for="photo">Photo:</label>
              <input class="form-control" id="photo" formControlName="photo" type="file" (change)="onFileChange($event, 'photo')" />
            </div>
            <div>
              <label for="descriptionGlobal">Global Description:</label>
              <textarea class="form-control" id="descriptionGlobal" formControlName="descriptionGlobal"></textarea>
            </div>

            <div formArrayName="portfolioRequest">
              <div formGroupName="skills">
                <label class="fw-bold">Skills:</label>
                <div *ngFor="let skill of skills.controls; let i = index">
                  <div [formGroupName]="i">
                    <label for="skillTitle">Title:</label>
                    <input class="form-control" id="skillTitle" formControlName="title" />
                    <label for="skillDescription">Description:</label>
                    <textarea class="form-control" id="skillDescription" formControlName="description"></textarea>
                    <button class="btn btn-outline-danger" type="button" (click)="removeSkill(i)" [disabled]="skills.length <= 1"><i class="bi bi-trash-fill"></i></button>
                  </div>
                </div>
                <button class="btn btn-outline-success" type="button" (click)="addSkill()"><i class="bi bi-plus-lg"></i></button>
              </div>
            </div>

            <div formArrayName="portfolioRequest">
              <div formGroupName="experiences">
                <label class="fw-bold">Experiences:</label>
                <div *ngFor="let experience of experiences.controls; let i = index">
                  <div [formGroupName]="i">
                    <label for="experienceDateDebut">Start Date:</label>
                    <input class="form-control" id="experienceDateDebut" formControlName="dateDebut" />
                    <label for="experienceDateFin">End Date:</label>
                    <input class="form-control" id="experienceDateFin" formControlName="dateFin" />
                    <label for="experienceDescription">Description:</label>
                    <textarea class="form-control" id="experienceDescription" formControlName="description"></textarea>
                    <button class="btn btn-outline-danger" type="button" (click)="removeExperience(i)" [disabled]="experiences.length <= 1"><i class="bi bi-trash-fill"></i></button>
                  </div>
                </div>
                <button class="btn btn-outline-success" type="button" (click)="addExperience()"><i class="bi bi-plus-lg"></i></button>
              </div>
            </div>

            <div formArrayName="portfolioRequest">
              <div formGroupName="educations">
                <label class="fw-bold">Educations:</label>
                <div *ngFor="let education of educations.controls; let i = index">
                  <div [formGroupName]="i">
                    <label for="educationYear">Year:</label>
                    <input class="form-control" id="educationYear" formControlName="educationYear" />
                    <label for="educationDescription">Description:</label>
                    <textarea class="form-control" id="educationDescription" formControlName="description"></textarea>
                    <button class="btn btn-outline-danger" type="button" (click)="removeEducations(i)" [disabled]="educations.length <= 1"><i class="bi bi-trash-fill"></i></button>
                  </div>
                </div>
                <button class="btn btn-outline-success" type="button" (click)="addEducation()"><i class="bi bi-plus-lg"></i></button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>
    <hr >
    <section class="book" id="book">
      <div class="container">

        <div class="main-text">
          <h1><span>S</span>ervices</h1>
        </div>

        <div class="row">
          <div class="col-md-6 py-3 py-md-0">
            <div class="card">
              <img src="assets/images/g5.png" alt="">
            </div>
          </div>
          <div class="col-md-6 py-3 py-md-0">
            <div formArrayName="portfolioRequest">
              <div formGroupName="services">
                <label class="fw-bold">Services:</label>
                <div *ngFor="let service of services.controls; let i = index">
                  <div [formGroupName]="i">
                    <label for="serviceTitle">Title:</label>
                    <input class="form-control" id="serviceTitle" formControlName="title" />
                    <label for="serviceDescription">Description:</label>
                    <textarea class="form-control" id="serviceDescription" formControlName="description"></textarea>
                    <button class="btn btn-outline-danger" type="button" (click)="removeServices(i)" [disabled]="services.length <= 1"><i class="bi bi-trash-fill"></i></button>
                  </div>
                </div>
                <button class="btn btn-outline-success" type="button" (click)="addService()"><i class="bi bi-plus-lg"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <hr >
    <section class="book" id="book">
      <div class="container">

        <div class="main-text">
          <h1><span>W</span>ork</h1>
        </div>

        <div class="row">
          <div class="col-md-6 py-3 py-md-0">
            <div class="card">
              <img src="assets/images/g6.png" alt="">
            </div>
          </div>
          <div class="col-md-6 py-3 py-md-0">
            <div formArrayName="portfolioRequest">
              <div formGroupName="works">
                <label class="fw-bold">Works:</label>
                <div *ngFor="let work of works.controls; let i = index">
                  <div [formGroupName]="i">
                    <label for="workTitle">Title:</label>
                    <input class="form-control" id="workTitle" formControlName="title" />
                    <label for="workDescription">Description:</label>
                    <textarea class="form-control" id="workDescription" formControlName="description"></textarea>
                    <label for="workLink">Link:</label>
                    <input class="form-control" id="workLink" formControlName="link" />
                    <label class="hidden" for="workImage">Image:</label>
                    <input class="form-control hidden" id="workImage" type="file" (change)="onFileChange($event, 'workImage')" />
                    <button class="btn btn-outline-danger" type="button" (click)="removeWorks(i)" [disabled]="works.length <= 1"><i class="bi bi-trash-fill"></i></button>
                  </div>
                </div>
                <button class="btn btn-outline-success" type="button" (click)="addWork()"><i class="bi bi-plus-lg"></i></button>
              </div>
            </div>
            <div>
              <label class="fw-bold" for="workImages">Work Images:</label>
              <input class="form-control" id="workImages" type="file" (change)="addWorkImage($event)" multiple />
              <span class="text-danger">*Pour chaque "Work" ajouter une image*</span>
            </div>

          </div>
        </div>
      </div>

    </section>
    <hr >
    <section class="book" id="book">
      <div class="container">

        <div class="main-text">
          <h1><span>C</span>ontact me</h1>
        </div>

        <div class="row">
          <div class="col-md-6 py-3 py-md-0">
            <div class="card">
              <img src="assets/images/g7.png" alt="">
              <img src="assets/images/contact2.png" alt="">
            </div>
          </div>
          <div class="col-md-6 py-3 py-md-0">
            <div>
              <label for="email">Email:</label>
              <input class="form-control" id="email" formControlName="email" />
            </div>
            <div>
              <label for="telephone">Telephone:</label>
              <input class="form-control" id="telephone" formControlName="telephone" />
            </div>
            <div>
              <label for="facebookLien">Facebook Link:</label>
              <input class="form-control" id="facebookLien" formControlName="facebookLien" />
            </div>
            <div>
              <label for="twiterLien">Twitter Link:</label>
              <input class="form-control" id="twiterLien" formControlName="twiterLien" />
            </div>
            <div>
              <label for="linkdnLien">LinkedIn Link:</label>
              <input class="form-control" id="linkdnLien" formControlName="linkdnLien" />
            </div>
            <div>
              <label for="instagramLien">Instagram Link:</label>
              <input class="form-control" id="instagramLien" formControlName="instagramLien" />
            </div>
            <div>
              <label for="cvPdf">CV PDF:</label>
              <input class="form-control" id="cvPdf" formControlName="cvPdf" type="file" (change)="onFileChange($event, 'cvPdf')" />
            </div>

          </div>
        </div>
      </div>

    </section>

    <div class="button-container">
      <button class="btn btn-success" type="submit" (click)="onSubmit()">Generate Portfolio</button>
    </div>
  </form>

</div>
