<!-- Home Section Start -->
<div class="home">
  <div class="content">
    <h5>Bienvenue dans le Générateur de Portfolios</h5>
    <h1>Créez <span class="changecontent"></span></h1>
    <p>Construisez facilement votre portfolio professionnel. Ajoutez vos projets, compétences, expériences, formations et informations de contact.</p>
    <a href="#Gallery">Galerie</a>
  </div>
</div>
<!-- Section Gallary Start -->
<section class="gallary" id="Gallery">
  <div class="container">
    <div class="main-txt">
      <h1><span>G</span>alerie</h1>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g1.png"><img src="assets/images/g1.png" alt="" height="230px"></a>
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g2.png"><img src="assets/images/g2.png" alt="" height="230px"></a>
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g3.png"><img src="assets/images/g3.png" alt="" height="230px"></a>
        </div>
      </div>

    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g4.png"><img src="assets/images/g4.png" alt="" height="230px"></a>
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g5.png"><img src="assets/images/g5.png" alt="" height="230px"></a>
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g6.png"><img src="assets/images/g6.png" alt="" height="230px"></a>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <a href="assets/images/g7.png"><img src="assets/images/g7.png" alt="" height="230px"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Start -->
<section class="about" id="about">
  <div class="container">
    <div class="main-txt">
      <h1>À Propos de  <span>Nous</span></h1>
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-6 py-3 py-md-0" style="margin-top: 80px;">
        <div class="card">
          <img src="assets/images/Capture.png" alt="" class="logo-image">
        </div>
      </div>
      <div class="col-md-6 py-3 py-md-0">
        <h2>Générateur de portfolio</h2>
        <p>Notre application de génération de portfolio est conçue pour vous aider à créer un portfolio professionnel et attractif en quelques étapes simples. Que vous soyez un développeur, un designer, ou un professionnel de tout autre domaine, notre outil vous permet de mettre en valeur vos compétences, expériences, et réalisations de manière efficace et esthétique.</p>
        <p>Avec notre service, vous pouvez personnaliser chaque section de votre portfolio, ajouter vos travaux, compétences, expériences professionnelles, et bien plus encore. Nous vous offrons une flexibilité totale pour adapter votre portfolio à votre style et à vos besoins spécifiques.</p>
      </div>
    </div>
  </div>
</section>
